*{
  font-family: 'Itim', cursive;
  box-sizing: border-box;
}
body{
  padding:0;
  margin:0;
  width: auto;
  height: 100px;
}

.wrapper{
  background-image: url("./mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin:0%;
  padding: 1%;
  min-height: 616%; 
}

.box-2{
  background-image: url(./Footer-Background-2.jpg);
  background-attachment: fixed;
  color:white;
  font-size: 25px;
  text-align:center;
  margin-bottom:15%;
  margin-top: 0%;
  margin-left: 0%;
  margin-right:auto;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'Itim', cursive;
}
.box-2 h3{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%); 
}
.swiper-container{
  background-image: url("./material-design-colorful-edges.jpg");
  height: 100vh;
  margin-top: -12.9%;
  background-size:cover;
  background-attachment: fixed;
}

ul {
  display: flex;
  justify-content:space-between;
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  padding-left: 24%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  transition: all;
}
ul.nav-list{
  flex-direction: column;
}
li:hover{
  text-decoration:none;

}
a:link {
  text-decoration: none;
  font-family: 'Itim', cursive;
}
a{
  color:#333;
  font-family: 'Orbitron', sans-serif;
}
article.intro{
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 200%;
  color: white;
  margin-top: 104px;
}
.swiper-wrapper{
  width: 100%;
}
.swiper-slide{
  text-align:center;
  margin-top: 0px;
}
.swiper-container-flip .swiper-slide-shadow-top, .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  /* backface-visibility: hidden; */
  margin-top: -114px;
}
.swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
  margin-top: -47px;
}
element.style {
  width: 1263px;
  z-index: 4;
  transform: translate3d(-2526px, 0px, 0px) rotateX(
0deg
) rotateY(
180deg
);
  transition-duration: 0ms;
  margin-top: -77px;
}
.swiper-container-3d .swiper-wrapper, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
  margin-top: -50px;
}
.swiper-slide img{
  height:70%;
  margin-top:18%;
  }
h2{
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%); 
}

.btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
   
.btn {
  background-color: #0074d9;
  color: white;
  font-size: 20px;
  padding: 5px 20px;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}
.prev {
  margin-right: 15px;
}
  
.btn:disabled {
  background-color: #666;
  cursor: not-allowed;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 100px;
  right:auto;
  padding-top:65%;
  display: none;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 100px;
  left: auto;
  padding-top:65%;
  display: none;
}
:root {
  --swiper-theme-color: white;
}
a {
  flex-direction: column;
}
.container {
  position: relative;
  width: 50%;
}
.overlay {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;   
  backdrop-filter: blur(5px);
  overflow: hidden;
  width: 55%;
  height:0;
  transition: .5s ease;
}
  
.container:hover .overlay {
  height: 200%;
  bottom:-200%;
}
.last{
  text-align:center;
  color:white;
  padding-top: 1%;
  padding-bottom: 2%;
  background-image: url(./doopchat-footer-background.jpg);
  background-attachment: fixed;
}
.last img{
height: 50%;
}
.picture img{
  width:30px;
  height:30px;
} 
footer p{
  font-size: 22px;
  letter-spacing: 3px;
}
/*mobile query*/

@media screen and (min-width:360px){
  body{
    width:100%;
    height: 100px;
  }
  
}
@media  (min-width:360px){
  .box-2 p{width:100%;
    font-size:20px;
  }
  .box-2{width:100%;
    font-family: 'Itim', cursive;
    font-size: 25px;
    text-align:center;
    
  }
  .box-2 p:hover{
    transform: scale(1.2);
  }
  /*.swiper-container h2{
    position: absolute;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%); 
  }*/
 /* .swiper-slide{
    text-align:center;
    margin-top: 110px;
  }*/
  .swiper-slide img {
    height: 50%;
  }
   img{
    height:50%;
  }
  .swiper-container {width:100%;
    background-image: url("./material-design-colorful-edges.jpg");
    height: 100vh;
    margin-top: -12.9%;
    background-size:cover;
    background-attachment: fixed;
  }
  
  @media  (min-width:360px){
    ul {
      justify-content:space-between;
      font-size: 15px;
      padding-left: 24%;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
      transition: all;
    }
  }  
  ul.nav-list{
    flex-direction: column;
  }
}
@media screen(min-width:360px) {
  .swiper-slide img{
    margin-top:25%;
  }
}