*{
  font-family: 'Itim', cursive;
  box-sizing: border-box;
}
body{
  padding:0;
  margin:0;
  width: auto;
  height: 100vh;
  box-sizing: border-box;
}

.wrapper{
  background-image: url("./mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin:0%;
  padding: 1%;
  height: 117vh; 
}

.box-2{
  background-image: url(./Footer-Background-2.jpg);
  background-attachment: fixed;
  color:white;
  height: 35vh;
  font-size: 25px;
  text-align:center;
  margin-bottom:15%;
  margin-top: 0%;
  margin-left: 0%;
  text-align: center;
  font-family: 'Itim', cursive;
}
.box-2 h3{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%); 
}

.swiper-container{
  background-image: url("./material-design-colorful-edges.jpg");
  height: 100vh;
  margin-top: -12.9%;
  background-size:cover;
  background-attachment: fixed;
}

ul {
  display: flex;
  justify-content:space-between;
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  padding-left: 24%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  transition: all;
}
ul.nav-list{
  flex-direction: column;
}
li:hover{
  text-decoration:none;

}
a:link {
  text-decoration: none;
  font-family: 'Itim', cursive;
}
a{
  color:#333;
  font-family: 'Orbitron', sans-serif;
}
article.intro{
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 200%;
  color: white;
  margin-top: 104px;
}
.swiper-wrapper{
  width: auto;
}
.swiper-slide{
  text-align:center;
  margin-top: 0px;
}
.swiper-container-flip .swiper-slide-shadow-top, .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  /* backface-visibility: hidden; */
  margin-top: -114px;
}
.swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
  margin-top: -47px;
}
element.style {
  width: 1263px;
  z-index: 4;
  transform: translate3d(-2526px, 0px, 0px) rotateX(
0deg
) rotateY(
180deg
);
  transition-duration: 0ms;
  margin-top: -77px;
}
.swiper-container-3d .swiper-wrapper, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
  margin-top: -50px;
}
.swiper-slide img{
  height:70%;
  margin-top:18%;
  }
h2{
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%); 
}

.btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
   
.btn {
  background-color: #0074d9;
  color: white;
  font-size: 20px;
  padding: 5px 20px;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}
.prev {
  margin-right: 15px;
}
  
.btn:disabled {
  background-color: #666;
  cursor: not-allowed;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 100px;
  right:auto;
  padding-top:65%;
  display: none;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 100px;
  left: auto;
  padding-top:65%;
  display: none;
}
:root {
  --swiper-theme-color: white;
}
a {
  flex-direction: column;
}
.container {
  position: relative;
  width: 50%;
}
.overlay {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;   
  backdrop-filter: blur(5px);
  overflow: hidden;
  width: 55%;
  height:0;
  transition: .5s ease;
}
  
.container:hover .overlay {
  height: 200%;
  bottom:-200%;
}
.last{
  text-align:center;
  color:white;
  padding-top: 1%;
  padding-bottom: 2%;
  background-image: url(./doopchat-footer-background.jpg);
  background-attachment: fixed;
}
.last img{
height: 50%;
}
.picture{
  display: flex;
  justify-content: center;

}
.picture a{
  flex-basis: 5%;
}
.picture img{
  width:30px;
  height:30px;
} 
footer p{
  display: flex;
  font-size: 22px;
  letter-spacing: 3px;
  color:white;
  justify-content: center;
}

/*mobile query*/

@media screen and (min-width:326px){
  body{
    width:auto;
    height: auto;
  }
  .swiper-slide img {
    height: 45vh;
    margin-top:27%;
  }
  img{
    height:50%;
  }
  .swiper-container {
   background-image: url("./material-design-colorful-edges.jpg");
    height: 90vh;
    margin-top: -12.9%;
    background-size:cover;
    background-attachment: fixed;
  }
  ul{
    display: flex;
    justify-content:space-between;
    font-size: 10px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    transition: all;
  }
  ul.nav-list{
    flex-direction: column;
  }
  h2{
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%); 
    font-size:25px;
  }
  .box-2{
    background-image: url(./Footer-Background-2.jpg);
    background-attachment: fixed;
    color:white;
    height: 40vh;
    font-size: 25px;
    text-align:center;
    margin-bottom:17%;
    margin-top: -4%;
    margin-left: 0%;
    font-family: 'Itim', cursive;
  }
}
@media screen and (min-width:576px){
  body{
    width:auto;
    height: auto;
  }
  .swiper-slide img {
    height: 52vh;
    margin-top:29%;
  }
  img{
    height:50%;
  }
  .swiper-container {
   background-image: url("./material-design-colorful-edges.jpg");
    height: 90vh;
    margin-top: -12.9%;
    background-size:cover;
    background-attachment: fixed;
  }
  ul{
    display: flex;
    justify-content:space-between;
    font-size: 18px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    transition: all;
  }
  ul.nav-list{
    flex-direction: column;
  }
  h2{
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%); 
  }
  .box-2{
    background-image: url(./Footer-Background-2.jpg);
    background-attachment: fixed;
    color:white;
    height: 40vh;
    font-size: 25px;
    text-align:center;
    margin-bottom:14%;
    margin-top: -4%;
    margin-left: 0%;
    font-family: 'Itim', cursive;
  }
} 

@media screen and (min-width:728px){
  body{
    width:auto;
    height: 100vh;
  }
  .swiper-slide img {
    height: 55vh;
    margin-top:21%;
  }
  img{
    height:50%;
  }
  .swiper-container {
   background-image: url("./material-design-colorful-edges.jpg");
    height: 90vh;
    margin-top: -12.9%;
    background-size:cover;
    background-attachment: fixed;
  }
  ul{
    display: flex;
    justify-content:space-between;
    font-size: 23px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    transition: all;
  }
  ul.nav-list{
    flex-direction: column;
  }
  h2{
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%); 
    font-size: 30px;
  }
  .box-2{
    background-image: url(./Footer-Background-2.jpg);
    background-attachment: fixed;
    color:white;
    height: 40vh;
    font-size: 25px;
    text-align:center;
    margin-bottom:17%;
    margin-top: 0%;
    margin-left: 0%;
    font-family: 'Itim', cursive;
  }
  h2{
    text-align: center;
    
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%); 
  }
}   
@media screen and (min-width:996px){
  body{
    width:autovw;
    height: 100vh;
  }
  .swiper-slide img {
    height: 62vh;
    margin-top:13%;
  }
  img{
    height:50%;
  }
  .swiper-container {
   background-image: url("./material-design-colorful-edges.jpg");
    height: 90vh;
    margin-top: -12.9%;
    background-size:cover;
    background-attachment: fixed;
  }
  ul{
    display: flex;
    justify-content:space-between;
    font-size: 30px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    transition: all;
  }
  ul.nav-list{
    flex-direction: column;
  }
  h2{
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%); 
    font-size: 35px;
  }
  .box-2{
    background-image: url(./Footer-Background-2.jpg);
    background-attachment: fixed;
    color:white;
    height: 40vh;
    font-size: 25px;
    text-align:center;
    margin-bottom:16%;
    margin-top: 0%;
    margin-left: 0%;
    font-family: 'Itim', cursive;
  }
}   
@media screen and (min-width:1280px){
  body{
    width:auto;
    height: 100vh;
  }
  .swiper-slide img {
    height: 62vh;
    margin-top:13%;
  }
  img{
    height:50%;
  }
  .swiper-container {
   background-image: url("./material-design-colorful-edges.jpg");
    height: 90vh;
    margin-top: -12.9%;
    background-size:cover;
    background-attachment: fixed;
  }
  ul {
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    padding-left: 24%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    transition: all;
  }
  ul.nav-list{
    flex-direction: column;
  }
  h2{
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%); 
  }
      
  .box-2{
  background-image: url(./Footer-Background-2.jpg);
  background-attachment: fixed;
  color:white;
  height: 35vh;
  font-size: 25px;
  text-align:center;
  margin-bottom:15%;
  margin-top: 0%;
  margin-left: 0%;
  text-align: center;
  font-family: 'Itim', cursive; 
  } 
  
}   
/* nokia 8.1*/
@media screen and (max-width:1080px){
  body{
    width:auto;
    height: 100vh;
  }
  .swiper-slide img {
    height: 30vh;
    margin-top:13%;
  }
  img{
    height:50%;
  }
  .swiper-container {
   background-image: url("./material-design-colorful-edges.jpg");
    height: 50vh;
    margin-top: -12.9%;
    background-size:cover;
    background-attachment: fixed;
  }
  ul {
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    text-decoration: none;
    font-size: 15px;
    padding-left: 24%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    transition: all;
  }
  ul.nav-list{
    flex-direction: column;
  }
  h2{
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%); 
  }
      
  .box-2{
  background-image: url(./Footer-Background-2.jpg);
  background-attachment: fixed;
  color:white;
  height: 25vh;
  font-size: 25px;
  text-align:center;
  margin-bottom:15%;
  margin-top: 0%;
  margin-left: 0%;
  text-align: center;
  font-family: 'Itim', cursive; 
  } 
  
  .wrapper{
    background-image: url("./mountains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    margin:0%;
    padding: 1%;
    height: 43vh; 
  }
}
